@import './partials/partials.scss';

// Remove default styling
body{
    margin: unset;
}

*{
    font-family: $font-reg;
}

a{
    text-decoration: none;
    color: unset;
}

// button style
button{
    
}
// Grow effect on pictures
.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover {
     transform: scale(1.1); 
    }

 // wrapper for most sections
.wrapper{
    margin: 0 1.5rem;
}

// header styles
.head{
    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-main{
            color: $turq;
        }

        &-button{
            height: 30px;
            background-color: $turq;
            color: white;
        }
    }

    &__nav{
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: unset;
        margin-bottom: 2rem;
        &-link{
            list-style: none;
            color: $turq;
            :hover{
                color: $light-blue;
                border-bottom: solid 1px $green;
            }
        }
    }
}
// end of header styles
.main{

}
// hero styles
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    height: 400px;
    background-image: linear-gradient(rgba(#323232, 0.4),rgba(#323232, 0.4)),url('./assets/burger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__title{
        text-align: center;
        color: white;
        width: 50%;
    }
}
// end of hero styles

// food picture/description
.food{
    padding-top: 3rem;
    background-color: $light;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__meal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image{
        height: 200px;
        width: 200px;
        border-radius: 100%;
    }

    &__descrip{
        text-transform: uppercase;
        color: $blue;
    }
}

// end of food pic/decriptions

// our team styles
.team{
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        color: $turq;
    }

    &__member{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }


    &__image{
        height: 200px;
        border-radius: 100%;
    }

    &__name{
        margin-bottom: unset;
    }
}

// end of team styles

// Footer styles

.foot{
    padding: 1rem 0;
    background-color: $light;
    height: fit-content;
    color: $blue;
}

.contact{
    &__title{
        text-align: center;
    }

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__submit{

    }

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-height: 400px;
    }

    &__details{
        width: 100%;
    }

    textarea{
        width: 100%;
    }

    &__button{
        width: 100%;
    }

}
